p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #FFC43D;
}

h2 {
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;
}

.wrapper {
	display: grid;
	grid-template-rows: 60px 1fr;
	grid-row-gap: 10px;
	height: 100vh;
	margin: 0 60px;
}

main {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-column-gap: 10px;
	height: 100%;
}

textarea {
	border: none;
	resize: none;
	background-color: #ccc;
}

button {
	height: 100%;
	border: none;
	background-color: #388659;
	color: #fff;
	font-size: 18px;
	text-align: left;
}